.caixa {
    box-sizing: border-box;
    position: absolute;
    width: 817px;
    height: 630px;
    left: 30px;
    top: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabeca {
    background-color: gray;
    width: 817px;
    height: 68px;
    border-bottom: 2px solid black;
}

.titulo {
    font-size: 1.5rem;
    margin-left: 15px;
}

.espaco {
    width: 817px;
    height: 462px;
    border: 1px solid black;
    overflow: scroll;
}

.form {
    position: relative;
    width: 817px;
    height: 100px;
    border: 1px solid black;
}

.caixaMsg {
    width: 500px;
    height: 80px;
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid black;
}

.btn_enviar {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: pink;
    border: 1px solid black;
    padding: 5px 10px;
}

.card {
    max-width: 817px;
    background: #FFFFFF;
    border: 1px solid black;
    margin-bottom: 7px;
    padding: 10px;
    position: relative;
    word-wrap: break-word;
}

.card p {
    margin: 0;
}

.botao-container {
    margin-top: 7px;
    text-align: right;
    padding-bottom: 7px;
}

.btn_editar, .btn_excluir {
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 10px;
    margin-left: 5px;
}

.btn_editar {
    background-color: yellow;
}

.btn_excluir {
    background-color: red;
}